@import 'styles/fonts.scss';
@import 'styles/vendors.scss';

$bg: #D3CECB;
$text: #353535;
$headerText: #EB5424;
.material-icons{ color: $headerText; }
body {
  font-family: 'Questrial', sans-serif;
}

.impact-text {
  color: $headerText;
}

.bold-text {
  font-weight: bold;
}

/* .brand-logo {
  &:hover {
    color: $headerText !important;
  }
} */

#modal1 {
  overflow: hidden;
  transform: translateY(-50%) !important;
}

nav {

  border-bottom: 1px solid #f1f1f1;
  box-shadow: none;
  margin-bottom: 3rem;

  li > a:hover {
    background-color: transparent !important;
    color: $headerText !important;
  }

  .brand-logo {
    color: $headerText;
    font-size: 2rem;
    font-weight: 700;
    &:hover {
      color: $headerText !important;
    }
  }

  li>a {
    color: $text !important;
  }

}

.sidebar {
  margin-top: .2rem;
  li {
    margin-bottom: 1rem;

    a {
      color: $text;
      cursor: pointer;

      &:hover {
        color: $headerText;
      }
    }
  }

  i {
    margin-right: 4px;
  }
}

.intro {
  h1 {
    margin-top: 0;
  }
}

.about {
  h1 {
    margin-bottom: .15em;
    margin-top: 0;
  }

  h2 {
    margin-bottom: .15em;
  }

  a.modal-close {
    margin-right: 32px;
  }
}

.responsive-ytv {
  display: block;
  height: 0;
  margin: 20px;
  overflow: hidden;
  padding-bottom: 55.56%;
  position: relative;
}

#ytplayer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}